<!-- historial-pagos.page.html -->
<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col><h4>Historial pagos</h4></ion-col>
        <ion-col>
          <ion-button class="botonUser" (click)="login()" expand="block" ><ion-icon name="person-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-card-content class="iconos">
    <ion-grid>
      <ion-row>
        <ion-col class="tamaño"><ion-icon class="whatsApp" name="logo-whatsapp"></ion-icon></ion-col>
        <ion-col class="tamaño"><ion-icon class="instagram" name="logo-instagram"></ion-icon></ion-col>
      </ion-row>
    </ion-grid> 
    </ion-card-content>
</ion-header>

<ion-content>
  <div class="cuerpo">
  <ion-card-content class="datos">
    <ion-list>
      <ion-item>
        <ion-label>Edificio:</ion-label>
        <ion-input type="text" value="Nombre_edificio"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Departamento:</ion-label>
        <ion-input type="text" value="Nºdepto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select>
          <ion-select-option value="pagado">Pagado</ion-select-option>
          <ion-select-option value="deuda">En Deuda</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ion-card-content>

  <ion-list>
    <ion-item-divider color="primary">
      <ion-label>Pago</ion-label>
      <ion-label>Fecha</ion-label>
      <ion-label>Monto</ion-label>
      <ion-label>Comprobante</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Pago 1</ion-label>
      <ion-label>Día/Mes/Año</ion-label>
      <ion-label>DINERO CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pago 2</ion-label>
      <ion-label>Dís/Mes/Año</ion-label>
      <ion-label>DINERO CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pago 3</ion-label>
      <ion-label>Día/Mes/Año</ion-label>
      <ion-label>DINERO CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>
  </ion-list>
  <ion-card-content class="datos">
    <h3>Recordatorio</h3>
    <p>En esta sección se dejan por escrito todas las reglas y leyes relacionadas con los pagos de las mensualidades de gastos comunes del condominio en cuestión.</p>

    <h5>EJEMPLOS</h5>
    <h5>EJEMPLOS</h5>
    <h5>EJEMPLOS</h5>
    <p>Agradecemos su comprensión</p>
  </ion-card-content>
  <div class="botones">
  <ion-item>
    <ion-button class="bSoporte" (click)="soporte()" expand="block" fill="outline">Soporte</ion-button>
  </ion-item>
</div>
</div>
  <div class="abajo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contacto</ion-card-title>
      </ion-card-header>
  
      <ion-card-content class="datosFooter">
        <ion-item class="ph">
          <ion-icon name="call"></ion-icon>
          <ion-label>+569 12345678</ion-label>
        </ion-item>
        <ion-item class="mail">
          <ion-icon name="mail"></ion-icon>
          <ion-label>correo.ejemplo&#64;gmail.com</ion-label>
        </ion-item>
        <ion-item class="hora">
          <ion-icon name="time"></ion-icon>
          <ion-label>Lun - Vie 09:00 - 17:00</ion-label>
        </ion-item>
      </ion-card-content>
   </ion-card>
  </div>
</ion-content>
