<!-- historial-pagos.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Historial de Pagos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Edificio: Nombre edificio</h2>
  <h3>Departamento / s: Nºdepto</h3>

  <ion-list>
    <ion-item-divider color="primary">
      <ion-label>Pago</ion-label>
      <ion-label>Fecha</ion-label>
      <ion-label>Monto</ion-label>
      <ion-label>Comprobante</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Pago 1</ion-label>
      <ion-label>Día/Mes/Año</ion-label>
      <ion-label>DINERO CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pago 2</ion-label>
      <ion-label>Dís/Mes/Año</ion-label>
      <ion-label>DINERO_CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Pago 3</ion-label>
      <ion-label>Día/Mes/Año</ion-label>
      <ion-label>DINERO CLP</ion-label>
      <ion-label><a href="#" class="comprobante">Descargar comprobante</a></ion-label>
    </ion-item>
  </ion-list>

  <h3>Recordatorio</h3>
  <p>En esta sección se dejan por escrito todas las reglas y leyes relacionadas con los pagos de las mensualidades de gastos comunes del condominio en cuestión.</p>

  <h3>EJEMPLOS</h3>
  <h3>EJEMPLOS</h3>
  <h3>EJEMPLOS</h3>
  <p>Agradecemos su comprensión</p>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-label>+569 12345678</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label>correo.ejemplo&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time"></ion-icon>
        <ion-label>Lun - Vie 09:00 - 17:00</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
