<ion-header class="header">
  <ion-toolbar>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col><h1>Inicio</h1></ion-col>
        <ion-col>
          <ion-button class="bUser" (click)="login()" expand="block" ><ion-icon name="person-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-card-content class="iconos">
    <ion-grid>
      <ion-row>
        <ion-col class="tamaño"><ion-icon class="whatsApp" name="logo-whatsapp"></ion-icon></ion-col>
        <ion-col class="tamaño"><ion-icon class="instagram" name="logo-instagram"></ion-icon></ion-col>
      </ion-row>
    </ion-grid> 
    </ion-card-content>
</ion-header>
 
 <ion-content>
  <div class="cuerpo">
     <ion-card-content class="datos">
       <ion-list>
         <ion-item>
           <ion-label>Edificio:</ion-label>
           <ion-input type="text" value="Nombre_edificio"></ion-input>
         </ion-item>
         <ion-item>
           <ion-label>Departamento:</ion-label>
           <ion-input type="text" value="Nºdepto"></ion-input>
         </ion-item>
         <ion-item>
           <ion-label>Estado</ion-label>
           <ion-select>
             <ion-select-option value="pagado">Pagado</ion-select-option>
             <ion-select-option value="deuda">En Deuda</ion-select-option>
           </ion-select>
         </ion-item>
       </ion-list>
     </ion-card-content>
  
    <div class="botones">
     <ion-button class="bRevisar" (click)="revisarDatos()" expand="block" fill="outline">Revisar Datos</ion-button>
     <ion-button class="bHistorial" (click)="historialPagos()" expand="block" fill="outline">Historial de Pagos</ion-button>
     <ion-button class="bPagar" (click)="pagarMensualidad()" expand="block" fill="outline">Pagar Mensualidad</ion-button>
     <ion-button class="bSoporte" (click)="soporte()" expand="block" fill="outline">soporte</ion-button>
    </div>
  </div>
  <ion-footer class="abajo">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Contacto</ion-card-title>
        </ion-card-header>
    
        <ion-card-content class="datosFooter">
          <ion-item class="ph">
            <ion-icon name="call"></ion-icon>
            <ion-label>+569 12345678</ion-label>
          </ion-item>
          <ion-item class="mail">
            <ion-icon name="mail"></ion-icon>
            <ion-label>correo.ejemplo&#64;gmail.com</ion-label>
          </ion-item>
          <ion-item class="hora">
            <ion-icon name="time"></ion-icon>
            <ion-label>Lun - Vie 09:00 - 17:00</ion-label>
          </ion-item>
        </ion-card-content>
     </ion-card>
  </ion-footer>
 </ion-content>