<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col><h3>Pagar Mensualidad</h3></ion-col>
        <ion-col>
          <ion-button class="botonUser" (click)="login()" expand="block" ><ion-icon name="person-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-card-content class="iconos">
    <ion-grid>
      <ion-row>
        <ion-col class="tamaño"><ion-icon class="whatsApp" name="logo-whatsapp"></ion-icon></ion-col>
        <ion-col class="tamaño"><ion-icon class="instagram" name="logo-instagram"></ion-icon></ion-col>
      </ion-row>
    </ion-grid> 
    </ion-card-content>
</ion-header>
 
 <ion-content>
  <div class="cuerpo">
    <div class="datos">
      <h3>Datos transferencia</h3>
      <p>Copiar datos de transferencia</p>
        <ion-item>
          <ion-label>Banco: Banco de la cuenta</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>Tipo de cuenta: Tipo de cuenta</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>Correo: Correo de la cuenta</ion-label>
        </ion-item>
    
        <ion-item>
          <ion-label>Mes de pago: Mes a pagar</ion-label>
        </ion-item>
    
        <ion-button expand="full" color="primary" type="submit">Cargar Comprobante</ion-button>
      </div>
  </div>
  <div class="pagoDirecto">
    <ion-item>
      <ion-label>Pago directo</ion-label>
    </ion-item>
    <ion-item class="WebPay">
    </ion-item>
    <ion-item>
      <ion-button class="bPagarAqui" expand="block"  fill="outline">Pagar Aquí</ion-button>
    </ion-item>
    <ion-item class="bSoporte">
      <ion-button (click)="soporte()" expand="block"  fill="outline">soporte</ion-button>
    </ion-item>
  </div>
<div class="footer">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contacto</ion-card-title>
    </ion-card-header>

    <ion-card-content class="datosFooter">
      <ion-item>
        <ion-icon name="call"></ion-icon>
        <ion-label>+569 12345678</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="mail"></ion-icon>
        <ion-label>correo.ejemplo&#64;gmail.com</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="time"></ion-icon>
        <ion-label>Lun - Vie 09:00 - 17:00</ion-label>
      </ion-item>
    </ion-card-content>
 </ion-card>
</div>
 </ion-content>