<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-grid class="titulo">
      <ion-row>
        <ion-col><h1>Soporte</h1></ion-col>
        <ion-col>
          <ion-button class="botonUser" (click)="login()" expand="block" ><ion-icon name="person-circle-outline"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-card-content class="iconos">
    <ion-grid>
      <ion-row>
        <ion-col class="tamaño"><ion-icon class="whatsApp" name="logo-whatsapp"></ion-icon></ion-col>
        <ion-col class="tamaño"><ion-icon class="instagram" name="logo-instagram"></ion-icon></ion-col>
      </ion-row>
    </ion-grid> 
    </ion-card-content>
</ion-header>

<ion-content>
  <div class="cuerpo">
  <ion-card-content>
    <ion-label>Datos de Soporte</ion-label>
    <ion-label>Nombre del administrador</ion-label>

    <ion-button expand="block" fill="outline">WhatsApp</ion-button>
    <ion-label>O</ion-label>
    <ion-button  expand="block" fill="outline">Instragram</ion-button>
  </ion-card-content>
</div>
  <div class="abajo">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Contacto</ion-card-title>
      </ion-card-header>
  
      <ion-card-content class="datosFooter">
        <ion-item class="ph">
          <ion-icon name="call"></ion-icon>
          <ion-label>+569 12345678</ion-label>
        </ion-item>
        <ion-item class="mail">
          <ion-icon name="mail"></ion-icon>
          <ion-label>correo.ejemplo&#64;gmail.com</ion-label>
        </ion-item>
        <ion-item class="hora">
          <ion-icon name="time"></ion-icon>
          <ion-label>Lun - Vie 09:00 - 17:00</ion-label>
        </ion-item>
      </ion-card-content>
   </ion-card>
  </div>
</ion-content>